### project gitignore file

# Ignore backup files
bak/

# ipython checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore temporary files
test.ipynb
